body{
    font-family: Arial, sans-serif;
    margin: 20px;
    text-align: center; 
}

h1{
    color: #333;
}

button{
    margin-top: 10px;
    padding: 10px 20px;
    font-size: 16px;

}
img{
    margin-top: 20px;
    border-radius: 8px;
    max-width: 100%;
    height: auto;
}